/* body{
    text-align: center;
    background-color: hsl(0, 0%, 76%);
}
.sc{
    background-color: rgb(10, 249, 66);
    height: auto;
    margin-top: 100px;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: bolder;
}
.btn-1{
    background-color: rgb(137, 208, 138);
    height: auto;
    margin-top: 200px;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
} */